/docs/source/auto_examples/
/docs/build/
/docs/source/api/_autosummary/
/.python-version
/.idea/
/dist/
/.coverage.*
/test/data/*.html
/elphick/mass_composition/demo_data/A072391_assay_report.html
/dev/dataset_curator/register.csv
/dev/dataset_curator/table_content.yaml
/datasets/**/*.html
/datasets/**/*.md5
/datasets/**/*.zip