[tool.poetry]
name = "mass-composition"
version = "0.1.6"
description = "For managing multidimensional mass-composition datasets, supporting weighted mathematical operations and visualisation."
authors = ["Greg <greg@elphick.com.au>"]
packages = [{include = "elphick/mass_composition"}]

[[tool.poetry.source]]
name = "pypi_"
url = "https://pypi.org/mass-composition"
secondary = false

[tool.poetry.scripts]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
xarray = "^2022.6.0"
periodictable = "^1.6.1"
pyyaml = "^6.0"
scipy = "^1.9.0"
pyvista = "^0.37.0"
pyvista-xarray = "^0.1.2"
coverage = "^7.0.5"
notebook = "^6.5.2"
matplotlib = { version = "^3.6.2", optional = true }
plotly = { version = "^5.13.0", optional = true }
kaleido = { version = "0.2.1", optional = true }
networkx = { version = "^3.0.0", optional = true }
seaborn = { version = "^0.12.2", optional = true }
ydata-profiling = { version = "^4.1.1", optional = true }

[tool.poetry.extras]
profile = ["ydata-profiling"]
viz = ["matplotlib", "seaborn", "plotly", "kaleido"]

[tool.poetry.dev-dependencies]
pytest = "^7.1.3"
Sphinx = "^5.0.2"
sphinx-rtd-theme = "^1.0.0"
sphinx-gallery = "^0.11.1"
sphinx-autodoc-typehints = "^1.18.3"
myst-parser = "^0.18.0"

[tool.poetry.group.dev.dependencies]
orca = "^1.8"  # for plotly thumbnails in docs


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
