.. -*- mode: rst -*-

{{ make_list_table_from_mappings(
    [('Title', 'title'), ('Description', 'description'), ('Report', "link"), ('Download', "download")],
    data['datasets'],
    title='',
    ) }}